// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~@fortawesome/fontawesome-free/css/all.min.css";


// Variables
@import 'variables';

//Backend Layout
@import 'layout/backend';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.jumbotron {
    height:600px;
    position:relative;
}

@media only screen and (max-width: 460px){
    .jumbotron{
    height: 250px;
    position:relative;
}
}